@media (min-width:992px)
{
    .container{max-width:720px}
}
@media (min-width:1200px)
{
    .container{max-width:720px}
}

@media (min-width: 480px)
{
    body {
        background: url('./background.jpg') no-repeat center center fixed;
        background-size: cover;
    }

    .container {
        margin-top: 20px;
        border-radius: 5px;
        border: 1px solid #999;
        box-shadow: 0px 0px 17px 2px #ccc;
        background-color: #fff;
        padding-bottom: 30px;
    }

    .loginform {
        position: relative;
        top: 20%;
        left: 30%;
    }

}

html {
    height: 100%;
}

body {
    height: 100%;
}

.container {
    height: 90%;
}

#myApp {
    height: 100%;
}

#myApp .row {
    height: 90%;
}

.statusDetail {
    font-size: smaller;
    color: #999;
}

.statusindicator-online {
    color: green;
}

.statusindicator-away {
    color: silver;
}

.statusindicator-busy {
    color: red;
}

@media (max-width: 480px) {
    .userlist {
        margin-top: 30px;
    }

    .messagelist li  {
        margin-top: 5px;
    }
}

.instructions {
    border-top: 1px solid #eee;
    padding-top: 10px;
    font-size: x-small;
}

label {
    padding-right: 10px;
}

.loginform {
    margin-top: 20px;
}
.userlist li {
    padding: 5px;
}

.username {
    display: inline-block;
    margin-bottom: 0px;
}

.userdisplay .statusindicator {
    padding-right: 5px;
    font-size: large;
    float: left;
}

.message-name {
    font-weight: bold;
    padding-right: 5px;
}

@media (min-width: 480px) {

    .message-name {
        display: inline-block;
        text-align: right;
        width: 100px;
        font-weight: bold;
        vertical-align: top;
        margin-right: 5px;
        overflow: hidden;
    }
}


.message-text {
    display: inline-block;
    width: 300px;
    /*float: left;*/
}

.row > div {
    height: 90%;
    /*border: 1px solid #0000ff;*/
}

.scrolling-container {
    height: 95%;
    overflow: scroll;
    border: 1px solid #eee;
    padding: 5px;
}
